repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-docstring-first
    - id: check-json
    - id: check-yaml
    - id: pretty-format-json
      args: ["--autofix", "--indent=2", "--no-sort-keys"]

-   repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
    - id: black
      args: ["--line-length", "100"]

-   repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    - id: flake8

-   repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
    - id: seed-isort-config

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.991'
    hooks:
    -   id: mypy
        exclude: tests

-   repo: https://github.com/pycqa/isort
    rev: 5.11.4
    hooks:
      - id: isort
        args: ["--profile", "black"]

-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.1.1
    hooks:
    -   id: rstcheck
