sphinx==3.5.4
pangeo-sphinx-book-theme==0.1.2
myst-parser==0.13.6
myst-nb==0.12.3
sphinx-copybutton==0.3.1
sphinx-togglebutton==0.2.2
sphinx-autodoc-typehints==1.12.0
sphinx-panels==0.6.0
sphinxext-opengraph>=0.6.3
# https://github.com/sphinx-doc/sphinx/issues/10291#issuecomment-1078046986
jinja2<3.1
-e .
